// COLORS //
$light: #FFFFFF;
$grey: #EEEEEE;
$dark: #151515;

// BREAKPOINTS 
$mobile: 520px;
$tablet: 780px;
$desktop: 1024px;
$desktop-max: 1200px;


// FONTS
$lato: 'Lato', sans-serif;
$quicksand: 'Quicksand', sans-serif;
